VITE_SUPABASE_URL=https://wlrgbfyhsmeiwqeflgwl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJh
VITE_GEMINI_KEY=AIza
TWILIO_ACCOUNT_SID=AC33
TWILIO_AUTH_TOKEN=46565
TWILIO_WHATSAPP_NUMBER=+141
VITE_TEST_WHATSAPP_NUMBER=+233
GEMINI_API_KEY=AIza
GOOGLE_CLIENT_ID=933
GOOGLE_CLIENT_SECRET=GOCSPX
VITE_GOOGLE_CLIENT_ID=93368
SUPABASE_SERVICE_KEY=eyJh
CRON_SECRET=RMIECN